.login-conatainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/bgLogin.jpg");
  background-position: center;
  background-size: cover;

  >form {
    width: 30vw;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1vmin;
    padding: 5vmin;

    >img {
      max-width: 100px;
      width: 50%;
      margin: 0 auto;
    }

    >input[type="text"],
    input[type="password"],
    button {
      padding: 0.5rem;
      border-radius: 10px;
      border: none;
      outline: none;
      text-align: center;
    }

    >input[type="text"]::placeholder,
    input[type="password"]::placeholder {
      text-align: center;
    }

    >button:hover {
      filter: brightness(0.8);
    }

    >.err-msg {
      color: #fff;
      text-align: center;
      background: red;
      padding: 0.25rem;
      border-radius: 10px;
    }
  }
}

.frost-glass {
  background-color: rgba(255, 255, 255, 0.3);
  /* Adjust the opacity here */
  backdrop-filter: blur(10px);
  /* Adjust the blur radius */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}